.header__icons {
  display: flex;
}

.icon {
  display: block;

  @include icon-size;

  margin-right: 24px;
  background-size: cover;

  &:last-child {
    margin-right: 0;
  }

  &--phone {
    background-image: url(../image/icon/icon-phone.png);
  }

  &--menu {
    background-image: url(../image/icon/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../image/icon/icon-close.png);
  }
}

.logo {
  @include logo-size;
}
