.page {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: white;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
  }

  &__menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}
